/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
	scroll-behavior: smooth;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 30px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 50px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/*-------------
 	Header
-------------*/

header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 25px 100px 22px;
	background-color: darkolivegreen;

}

.page{
	background: #000;
	padding-bottom: 35px;
}

header h2{
	font-family: 'Quicksand', sans-serif;
}

/*header h2 .logo{
	display: flex
}
header h2 .logo{
	margin-left: 0;
}
*/

.logo-svg{
	width: 150px;
	height: 150px;
	border-radius: 10%;
	overflow: hidden;
	margin-top: -50px;
	margin-bottom: -50px;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}



/*----------------
 	main-view Section
----------------*/

.main-view{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.main-view .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: auto;
	z-index: -1;
}

.main-view .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	opacity: 0.75;
}

.main-view h1{
	font: normal 40px 'Open Sans', sans-serif;
	margin-bottom: 10px;
	margin-top: 40px;
	color: #414a4f;
}

.main-view p{
	font: bold 80px 'Twinkle Star';
	margin-bottom: 15px;
	color: #414a4f;
	background-image: linear-gradient(45deg,#dece27 ,#485b28);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.main-view h3{
	font: normal 40px 'Open Sans', sans-serif;
	margin-bottom: 65px;
	color: #414a4f;
}

.main-view a.btn{
	padding: 25px 46px;
	color: #fff;
	background-color: darkolivegreen;
}

@media (max-width: 800px){

	.main-view{
		min-height: 600px;
	}

	.main-view h1{
		font-size: 48px;
	}

	.main-view h3{
		font-size: 24px;
	}

	.main-view a.btn{
		padding: 15px 40px;
	}

}



/*--------------------
 	about
---------------------*/

.about{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
	flex-direction: row-reverse;
}

.about img {
	max-width: 25%;
	height: auto;
}
.about .text{
	flex-direction: column;

}

.about div{
	padding-left: 50px;
}

.about .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: auto;
	z-index: -1;
}

.about .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.75;
}

.about h4{
	font: bold 40px 'Open Sans', sans-serif;
	margin-bottom: 10px;
	margin-top: 35px;
	color: #414a4f;
}

.about p {
	font: normal 25px 'Open Sans', sans-serif;
	text-align: left;
	margin-bottom: 10px;
	color: #414a4f;
}

@media (max-width: 700px) {
	.about {
		flex-direction: column;
	}
}
/*--------------------
 	about
---------------------*/

/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: darkolivegreen;
	padding: 20px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 16px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}

/*--------------------
 	shop
---------------------*/

.shop{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	text-align: center;
}
 .shop ul{
	 padding-top: 40px;
 }
.shop .grid div{
	padding: 0 100px;
	flex-basis: 33%;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.shop h3 {
	margin-top: 100px;
}


.shop .grid li h4{
	color: #555;
	font-size: 20px;
	margin-bottom: 25px;
}

.shop a {
	text-decoration: underline;
	padding-top: 20px;
	font-size: 25px;
	text-align: left;

}


@media (max-width: 1000px){

	.shop .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.shop .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.shop .grid li{
		flex-basis: 100%;
	}

}

/*--------------------
 	shop
---------------------*/
